:root {
  font-size: 1.4vmin;
  line-height: normal;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}


body {
  margin: 0;
  color: var(--color0);
  background: var(--bg0);
  overflow-x: hidden;
  transition: color 1s, background 1s, backgroundColor 1s, boxShadow 1s;
  -webkit-transition: color 1s, background 1s, backgroundColor 1s, boxShadow 1s;
  -moz-transition: color 1s, background 1s, backgroundColor 1s, boxShadow 1s;
  -ms-transition: color 1s, background 1s, backgroundColor 1s, boxShadow 1s;
  -o-transition: color 1s, background 1s, backgroundColor 1s, boxShadow 1s;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb_hover);
}

body::-webkit-scrollbar-track:hover {
  background-color: var(--scrollbar-track_hover);
}

*::selection,
*::-moz-selection,
*::-webkit-selection {
  background: var(--accent0);
  color: var(--bg0);
}

a:link,
a:visited,
a:hover,
a:active {
  position: relative;
}

a:not(.link):link,
a:visited,
a:not(.link):hover,
a:not(.link):active {
  color: var(--color0);
}

h1, h2, h3, h4, h5, h6, p, menu, ul, ol, li {
  margin: 0;
  padding: 0;
}

menu, ul ,ol {
  list-style: none;
}

button {
  cursor: pointer;
  position: relative;
}

button,
button:hover,
button:active {
  border: none;
}

@keyframes jump-right {
  0% {
    transform: scale(1.5, 2.5) translate(25%, -8%);
    -webkit-transform: scale(1.5, 2.5) translate(25%, -8%);
    -moz-transform: scale(1.5, 2.5) translate(25%, -8%);
    -ms-transform: scale(1.5, 2.5) translate(25%, -8%);
    -o-transform: scale(1.5, 2.5) translate(25%, -8%);
}

  16.666% {
    transform: scale(1.5, 2.5) translate(50%, -8%);
    -webkit-transform: scale(1.5, 2.5) translate(50%, -8%);
    -moz-transform: scale(1.5, 2.5) translate(50%, -8%);
    -ms-transform: scale(1.5, 2.5) translate(50%, -8%);
    -o-transform: scale(1.5, 2.5) translate(50%, -8%);
}

  33.333% {
    transform: scale(1.5, 2.5) translate(25%, -8%);
    -webkit-transform: scale(1.5, 2.5) translate(25%, -8%);
    -moz-transform: scale(1.5, 2.5) translate(25%, -8%);
    -ms-transform: scale(1.5, 2.5) translate(25%, -8%);
    -o-transform: scale(1.5, 2.5) translate(25%, -8%);
}

  50% {
    transform: scale(1.5, 2.5) translate(66.6%, -8%);
    -webkit-transform: scale(1.5, 2.5) translate(66.6%, -8%);
    -moz-transform: scale(1.5, 2.5) translate(66.6%, -8%);
    -ms-transform: scale(1.5, 2.5) translate(66.6%, -8%);
    -o-transform: scale(1.5, 2.5) translate(66.6%, -8%);
}

  66.666% {
    transform: scale(1.5, 2.5) translate(25%, -8%);
    -webkit-transform: scale(1.5, 2.5) translate(25%, -8%);
    -moz-transform: scale(1.5, 2.5) translate(25%, -8%);
    -ms-transform: scale(1.5, 2.5) translate(25%, -8%);
    -o-transform: scale(1.5, 2.5) translate(25%, -8%);
}
  83.333% {
    transform: scale(1.5, 2.5) translate(83.3%, -8%);
    -webkit-transform: scale(1.5, 2.5) translate(83.3%, -8%);
    -moz-transform: scale(1.5, 2.5) translate(83.3%, -8%);
    -ms-transform: scale(1.5, 2.5) translate(83.3%, -8%);
    -o-transform: scale(1.5, 2.5) translate(83.3%, -8%);
}

  100% {
    transform: scale(1.5, 2.5) translate(25%, -8%);
    -webkit-transform: scale(1.5, 2.5) translate(25%, -8%);
    -moz-transform: scale(1.5, 2.5) translate(25%, -8%);
    -ms-transform: scale(1.5, 2.5) translate(25%, -8%);
    -o-transform: scale(1.5, 2.5) translate(25%, -8%);
}
}

*:has(b[content="→"]):hover>b {
  animation: jump-right 3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation: jump-right 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:link {
  color: var(--color0);
}

a.link:hover {
  box-shadow: inset -0.5rem -0.5rem 1rem 0.5rem var(--color50);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  color: var(--color0);
  text-shadow: 0 0 0.5rem var(--bg0);
}

a.link:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0.5rem 0.5rem 1rem 0.5rem var(--bg50);
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}

a.link:active {
  box-shadow: inset 0.5rem 0.5rem 1rem 0.5rem var(--color50);
  color: var(--color0);
  text-shadow: 0 0 0.5rem var(--bg0);
  font-weight: bold;
}

a.link:active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -0.5rem -0.5rem 1rem 0.5rem var(--bg50);
  border-radius: inherit;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  color: var(--bg0);
}

.font-variant {
  font-variant: small-caps;
}

#app {
  width: 100dvw;
  margin: 0 auto;
  font-size: 1rem;
  padding: 0 10dvw;
  overflow: hidden;
}

.h1, .h2, .h3, .h4 {
  font-family: 'Syne', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.p1, .p2, .p3, .p4 {
  font-family: 'Rubik', sans-serif;
}

.h1 {
  font-size: 4.5rem;
  line-height: 110%;
  letter-spacing: -0.045rem;
}

.h2 {
  font-size: 4rem;
  line-height: 140%;
  letter-spacing: -0.04rem;
}

.h3 {
  font-size: 3.5rem;
  line-height: 125%;
  letter-spacing: -0.035rem;
}

.h4 {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.025rem;
}

.p1 {
  font-size: 1.33rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.p2 {
  font-size: 1.125rem;
  line-height: normal;
  font-weight: 700;
}

.p3 {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.015625rem;
}

.p4 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.dimmed {
  color: var(--color2)
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.t1, .t2, .t3 {
  font-family: 'Inter', sans-serif;
}

.t1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.t2 {
  font-size: 1.33rem;
  font-weight: 600;
  line-height: 2.5rem;
  letter-spacing: -0.04rem;
}

.t3 {
  font-size: 0.8125rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1rem;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-col-between {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.flex-col-start {
  display: flex;
  flex-direction: column;
}

.section {
  position: relative;
}

/* section {
  border: 1px solid var(--accent0);
} */

@media (orientation: portrait) {
  section {
    height: 50dvh;
  }
}

@media (orientation: landscape) {
  section {
    height: 100dvh;
  }
}

.padding-13 {
  padding-top: 13rem;
}

.page-header {
  height: 26rem;
  border-bottom: 0.125rem solid var(--color2);
}

.page-header .h2 {
  position: relative;
  z-index: 1;
}

.page-header .h2 > .highlight {
  position: absolute;
  left: -15rem;
  top: -10rem;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  z-index: -1;
}

.white_bg {
  background-color: #ffffff;
}
